# dependencies
node_modules/
.pnp
.pnp.js

# next.js build output
.next/
out/

# environment variables
.env
.env.local
.env.*.local

# vercel
.vercel/

# typescript
*.tsbuildinfo
next-env.d.ts

# misc
.DS_Store
*.tgz
npm-debug.log*
